#page-auth {
	display: flex;
	align-items: stretch;
	height: 100vh;

	aside {
		flex: 7;
		background: #0a0e14;
		color: white;

		display: flex;
		flex-direction: column;
		justify-content: center;

		padding: 120px 80px;

		img {
			max-width: 320px;
		}

		strong {
			font: 700 36px 'Poppins', sans-serif;
			line-height: 42px;
			margin-top: 16px;
		}

		p {
			font-size: 24px;
			line-height: 32px;
			margin-top: 16px;
			color: #f8f8f8;
		}
	}

	main {
		flex: 8;
		padding: 0 32px;

		display: flex;
		align-items: center;
		justify-content: center;

		.main-content {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 320px;
			align-items: stretch;
			text-align: center;

			> img {
				align-self: center;
			}

			h2 {
				font-size: 24px;
				margin: 64px 0 24px;
				font-family: 'Poppins', sans-serif;
			}

			form {

				input {
					height: 50px;
					border-radius: 8px;
					padding: 0 16px;
					background: white;
					border: 1px solid #a8a8b3;
				}

				button {
					margin-top: 16px;
				}

				button, input {
					width: 100%;
				}
			}

			footer {
				margin-top: 16px;
				display: flex;
				justify-content: center;
				gap: 5px;
				font-size: 14px;
				color: #a8a8b3;

				a {
					color: #a8a8b3;

					&:hover {
						color: #0a0e14;
					}
				}
			}

			p {
				font-size: 14px;
				color: #11151a;
				margin-top: 16px;

				a {
					color: #262a2f;
				}
			}
		}
	}

	.create-room {
		margin-top: 64px;
		height: 50px;
		border-radius: 8px;
		font-weight: 500;
		background: #ea4335;
		color: white;
		border: 0;
		cursor: pointer;

		transition: filter 0.2s;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			margin-right: 8px;
		}

		&:hover {
			filter: brightness(0.85);
		}
	}

	.separator {
		font-size: 14px;
		color: #a8a8b3;

		margin: 32px 0;
		display: flex;
		align-items: center;

		&::before {
			content: "";
			flex: 1;
			height: 1px;
			background: #a8a8b3;
			margin-right: 16px;
		}

		&::after {
			content: "";
			flex: 1;
			height: 1px;
			background: #a8a8b3;
			margin-left: 16px;
		}
	}
}


// Media queries

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 768px) {
	#page-auth {
		height: auto;
		flex-direction: column-reverse;

		main {
			padding: 64px 32px;
		}

		aside {
			padding: 30px 20px;
			text-align: center;

			strong {
				font-size: 18px;
			}

			p {
				font-size: 18px;
			}

			img {
				display: none;
			}
		}
	}
}
